{% extends "base.html" %}
{% block title %}<title>Error 401</title>{% endblock %}

{% block content %}
    <header class="w3-container w3-display-middle  w3-padding-48 ">
        <!-- the title here will be varibles-->
        <h2 class="w3-xxlarge"><b class="text-dark">You haven't logged in yet</b></h2>
        <a href="/login" class="w3-bar-item w3-xlarge btn btn-outline-info text-monospace" ><span class="fa fa-sign-in text-info  w3-margin-right" ></span>Log in Now</a>
    </header>
{% endblock %}