{% extends "base.html" %}

{% block title %} <title>Login</title>{% endblock %}


{% block content %}

    <div class="w3-container bg-light w3-display-middle w3-card" style="width:600px;height:500px;">
        <header class="w3-center text-info w3-xxlarge"> <b>Login form</b></header>
        <hr>
        <div class="w3-third w3-light-blue w3-border-right" style="height:400px;">
        </div>

        <div class="w3-twothird">
            <div class="w3-margin-left" style="margin-top:60px">
                <form action="{{ url_for('login') }}", method="post">
                    <p class="w3-left-align w3-large"><b>Username:</b></p>
                    <input class="alert alert-light w3-border" style="width:300px" type="text" name="un" placeholder="Username">
                    <p class="w3-left-align w3-large"><b>Password:</b></p>
                    <input class="alert alert-light w3-border" style="width:300px" type="Password" name="pass" placeholder="password"><br>
                    <div class="w3-row w3-center">
                        <button class="w3-half btn btn-dark w3-large w3-margin-top w3-margin-right" style="width:100px" type="submit">Log In</button>
                </form>
                <form class="" action="{{ url_for('display_register') }}">
                        <button class="w3-half btn btn-dark w3-large w3-margin-top" style="width:100px" type="submit">Sign up</button>
                </form>
            </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h2 class="text-monospace text-danger w3-margin-top"><b>{{ message }}</b></h2>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
        </div>
    </div>
{% endblock %}
